---
import BaseLayout from "../layout/BaseLayout.astro"
import profilePic from "../images/profilfoto.jpg"
import clogo from "../images/clogo.png"
import chashtaglogo from "../images/chashtaglogo.png"
import csslogo from "../images/csslogo.png"
import htmllogo from "../images/htmllogo.png"
import javalogo from "../images/javalogo.webp"
import jslogo from "../images/jslogo.png"
import kotlinlogo from "../images/kotlinlogo.png"

const pageTitle = "About me";
---

<BaseLayout  pageTitle = {pageTitle}>
	<div class="mainContainer">

		<h1>
			Andreas Islitzer
		</h1>

		<div class="imgTextContainer">
			<img src={profilePic.src} alt="A picture of me very nice">
			<h2>
				About me
			</h2>
			<p class="aboutMeText">
				Hallo! Ich bin 25 Jahre alt und wohne in Ebenthal. Derzeit studiere ich Angewandte Informatik an der Universit채t Klagenfurt und begeistere mich f체r alles rund um das Programmieren. In meiner Freizeit vertiefe ich mich gerne in verschiedene Programmiersprachen und arbeite an spannenden Projekten. Meine Leidenschaft f체r die Informatik treibt mich an, kontinuierlich Neues zu lernen und mein Wissen in der Praxis anzuwenden. Ich freue mich darauf, meine F채higkeiten weiterzuentwickeln und neue Herausforderungen im Bereich der Softwareentwicklung zu meistern!
			</p>
		</div>

		<div class="mySkillsContainer">
			<h1 class="skillh1">My Skills</h1>
			<span class="line"></span>
			<ul class="skillList">
				<li >
					<p class="skillListItem">Java</p>
					<img src={javalogo.src} alt="Java Logo">
					<div class="skillBarContainer">
						<div class="skillBar" style="width: 80%; background-color: #F8A253;"></div>
					</div>
				</li>
				<li>
					<p class="skillListItem">JavaScript</p>
					<img src={jslogo.src} alt="Js Logo">
					<div class="skillBarContainer">
						<div class="skillBar" style="width: 35%;background-color: #E3C436;"></div>
					</div>
				</li>
				<li>
					<p class="skillListItem">Css</p>
					<img src={csslogo.src} alt="Css Logo">
					<div class="skillBarContainer">
						<div class="skillBar" style="width: 45%;background-color: #214CE5;"></div>
					</div>
				</li>
				<li>
					<p class="skillListItem">Html</p>
					<img src={htmllogo.src} alt="Html Logo">
					<div class="skillBarContainer">
						<div class="skillBar" style="width: 68%;background-color: #000000 ;"></div>
					</div>
				</li>
				<li>
					<p class="skillListItem">Kotlin</p>
					<img src={kotlinlogo.src} alt="Kotlin Logo">
						<div class="skillBarContainer">
							<div class="skillBar" style="width: 60%;background-color: #F44336;"></div>
						</div>
					</li>
				<li>
					<p class="skillListItem">C</p>
					<img src={clogo.src} alt="C Logo">
					<div class="skillBarContainer">
						<div class="skillBar" style="width: 45%;background-color: #3949AB;"></div>
					</div>
				</li>
				<li>
					<p class="skillListItem">C#</p>
					<img src={chashtaglogo.src} alt="C# Logo">
					<div class="skillBarContainer">
						<div class="skillBar" style="width: 40%;background-color: #390091;"></div>
					</div>
				</li>

			</ul>
		</div>

	</div>
	


</BaseLayout>

<style>

	h1 {
		font-size: 3em;
		color: black;
		margin-bottom: 40px;
	}

	h2 {
		font-size: 3em;
		color:#ffffff;
		margin-bottom: 40px;
	}


	.mainContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
		;
	}

	/*for the img the text and the h2*/ 

	.imgTextContainer {
		background-color: #3f3f3f;
		display: inline;
		border: double 3px #3f3f3f;
		border-radius: 1em;
		padding: 5px;
		max-width: 1000px;
	}

	.imgTextContainer img {
		max-height: 500px;
		max-width: auto;
		float: left;
		border-radius: 1em;
		margin-right: 10px;
		
	}

	.aboutMeText {
		margin-left: 5px;
	}

	/*for the whole skill List part*/ 

	.mySkillsContainer {
		max-width: 1000px;
		margin: 100px;
		display: flex;		
		align-items: center;
		gap: 20px;
	}

	.skillh1{
		float: left;
	}

	.line {
		display: block;
		width: 5px;
		height:500px;
		margin-bottom: 10px;
		background-color: #3f3f3f;
	}

	.skillList li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}

	.skillList li img {
		width: 40px;
		height: 40px ;
		margin: 5px;
	}

	.skillListItem {
		color: black;
		width: 150px;
	}

	.skillBarContainer {
		display: flex;
		align-items: center;
		width: 200px; /* Maximale Breite der Leiste */
		height: 1em;
		background-color: #ddd; /* Hintergrundfarbe der Leiste */
		border-radius: 5px;
		margin-top: 5px;
	}	

	.skillBar {
		height: 1em;
		border-radius: 5px;
	}


</style>